.title {
  color: rgb(0, 110, 255);
  padding: 50px 0px 30px 0px;
  font-family: 'Roman';
}
.subtitle {
  padding: .5em .75em;
  background-color: #f6f6f6;
  border-left: 6px solid #5d9eff;
}
.error-msg{
  display: none;
  font-size: 120%;
  color: red;
}
.container {
  background-color: white;
  padding-bottom: 50px !important;
}
#top_button{
  width: 40px;
  height: 40px;
  background-color: Black;
  color: White;
  position: fixed;
  bottom: 50px;
  right: 30px;
  opacity: 0.6;

  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;

  outline: none;
}
#top_button:hover{
  color: lightGrey;
}
